* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  padding: 200px;
  line-height: 1.5;
  font: 18px outfit;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  width: 360px;  
}

.equil-img {
  border-radius: 5px;
  width: 320px;
}

.equil-title {
  padding: 15px 0;
}

h2 {
  color: #f8f0e3;
}

.equil-text {
  padding: 15px 0 30px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.eth {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eth-container {
  display: flex;
}

.clock-container {
  display: flex;
}

.icon-eth {
  margin-right: 10px;
}

.icon-clock {
  margin-right: 10px;
}
.eth-color {
  color: cyan;
}

.clock-color {
  color: hsl(215, 51%, 70%);
}

.line {
  border-top: 1px solid hsl(215, 32%, 27%);
}

.create {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0 0 1em;
  color: hsl(215, 51%, 70%);
}

.avatar {
  max-width: 40px;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

.jules {
  color: #f8f0e3;
}
